version: 2
jobs:
        build:
                working_directory: ~/starter
                environment:
                        - CLOUDSDK_CORE_DISABLE_PROMPTS: "1"
                docker:
                        - image: circleci/node:4.8.3
                steps:
                        - checkout
                        - setup_remote_docker
                        - run:
                                name: Install Docker
                                command: |
                                  set -x
                                  VER="17.03.0-ce"
                                  curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
                                  tar -xz -C /tmp -f /tmp/docker-$VER.tgz
                        - run: echo "Hello World"
                        - run:
                                name: Install Google Cloud
                                command: curl https://sdk.cloud.google.com | bash
                        - run:
                                command: ~/google-cloud-sdk/bin/gcloud version
                        - run:
                                name: Decode Google Cloud Credentials
                                command: echo ${GOOGLE_AUTH} | base64 -i --decode > ${HOME}/gcp-key.json
                        - run:
                                command: ~/google-cloud-sdk/bin/gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
                        - run:
                                command: ~/google-cloud-sdk/bin/gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
                        - run:
                                command: ~/google-cloud-sdk/bin/gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
                        - run:
                                command: ~/google-cloud-sdk/bin/gcloud components install kubectl
                        - run:
                                command: docker build -t gcr.io/${GOOGLE_PROJECT_ID}/hello-spring:$CIRCLE_SHA1 .
                        - run:
                                command:
                                  - docker tag gcr.io/${GOOGLE_PROJECT_ID}/hello-spring:$CIRCLE_SHA1 gcr.io/${GOOGLE_PROJECT_ID}/hello-google:latest
                        - run:  
                                command:
                                  - ~/google-cloud-sdk/bin/kubectl run hello-spring --image=gcr.io/${GOOGLE_PROJECT_ID/hello-spring:latest --port:8080
